/* line 2, ../sass/_helpers.sass */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 20, ../sass/_helpers.sass */
.pull-right { float: right; }

/* line 23, ../sass/_helpers.sass */
.pull-left { float: left; }

/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
/* line 6, ../sass/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* line 10, ../sass/_normalize.sass */
audio, canvas, video { display: inline-block; }

/* line 13, ../sass/_normalize.sass */
audio:not([controls]) { display: none; height: 0; }

/* line 21, ../sass/_normalize.sass */
[hidden] { display: none; }

/* line 27, ../sass/_normalize.sass */
html { background: white; color: black; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

/* line 42, ../sass/_normalize.sass */
body { margin: 0; }

/* line 50, ../sass/_normalize.sass */
a:focus { outline: thin dotted; }
/* line 54, ../sass/_normalize.sass */
a:active, a:hover { outline: 0; }

/* line 61, ../sass/_normalize.sass */
h1 { font-size: 2em; margin: 0.67em 0; }

/* line 66, ../sass/_normalize.sass */
abbr[title] { border-bottom: 1px dotted; }

/* line 70, ../sass/_normalize.sass */
b, strong { font-weight: bold; }

/* line 74, ../sass/_normalize.sass */
dfn { font-style: italic; }

/* line 78, ../sass/_normalize.sass */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/* line 84, ../sass/_normalize.sass */
mark { background: yellow; color: black; }

/* line 89, ../sass/_normalize.sass */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/* line 94, ../sass/_normalize.sass */
pre { white-space: pre-wrap; }

/* line 98, ../sass/_normalize.sass */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 102, ../sass/_normalize.sass */
small { font-size: 80%; }

/* line 106, ../sass/_normalize.sass */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 112, ../sass/_normalize.sass */
sup { top: -0.5em; }

/* line 115, ../sass/_normalize.sass */
sub { bottom: -0.25em; }

/* line 122, ../sass/_normalize.sass */
img { border: 0; }

/* line 126, ../sass/_normalize.sass */
svg:not(:root) { overflow: hidden; }

/* line 133, ../sass/_normalize.sass */
figure { margin: 0; }

/* line 140, ../sass/_normalize.sass */
fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 145, ../sass/_normalize.sass */
legend { border: 0; padding: 0; }

/* line 152, ../sass/_normalize.sass */
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

/* line 163, ../sass/_normalize.sass */
button, input { line-height: normal; }

/* line 170, ../sass/_normalize.sass */
button, select { text-transform: none; }

/* line 173, ../sass/_normalize.sass */
button, html input[type='button'], input[type='reset'], input[type='submit'] { -webkit-appearance: button; cursor: pointer; }

/* line 182, ../sass/_normalize.sass */
button[disabled], html input[disabled] { cursor: default; }

/* line 186, ../sass/_normalize.sass */
input[type='checkbox'], input[type='radio'] { box-sizing: border-box; padding: 0; }
/* line 193, ../sass/_normalize.sass */
input[type='search'] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
/* line 203, ../sass/_normalize.sass */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration { -webkit-appearance: none; }

/* line 207, ../sass/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 211, ../sass/_normalize.sass */
textarea { overflow: auto; vertical-align: top; }

/* line 222, ../sass/_normalize.sass */
table { border-collapse: collapse; border-spacing: 0; }

/* line 4, ../sass/_base.sass */
body { font-size: 100%; font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 400; line-height: 1.5em; color: #717375; background: url('../img/body-BG.jpg?1381119412') repeat-x; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

/* line 18, ../sass/_base.sass */
a { text-decoration: none; color: #717375; }

/* line 23, ../sass/_base.sass */
label { cursor: pointer; }

/* line 28, ../sass/_base.sass */
hr { border: 0; height: 0; border-bottom: 1px solid #dedede; }

/* line 4, ../sass/_theme.sass */
.wrapper { width: 960px; margin: 0 auto; *zoom: 1; padding-left: 1.25em; padding-right: 1.25em; margin-left: auto; margin-right: auto; position: relative; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after { content: ""; display: table; clear: both; }

/* line 11, ../sass/_theme.sass */
.top-header, .welcome, .push header, .inner { padding-right: 1.25em; padding-left: 1.25em; }

/* line 258, icon/*.png */
.icon-sprite, .icon-alphabet, .icon-arrow-to-right, .icon-btn-close, .icon-btn-search, .icon-calendar, .icon-chevron-right, .icon-dropdown, .icon-exclam-point, .icon-help, .icon-home, .icon-ibis-budget, .icon-ibis-hotel-red, .icon-ibis-hotel, .icon-ibis-logos, .icon-ibis-style, .icon-itine, .icon-like-box, .icon-map, .icon-phone, .icon-prix-garanti, .icon-re-reza, .icon-red-collapse, .icon-search-white, .icon-search, .icon-separator, .icon-tic { background: url('../img/icon-s663f2d3448.png') no-repeat; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-alphabet { background-position: 0 -814px; height: 18px; width: 19px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-to-right { background-position: 0 -1372px; height: 7px; width: 5px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-btn-close { background-position: 0 -594px; height: 30px; width: 115px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-btn-search { background-position: 0 -248px; height: 40px; width: 150px; }
/* line 43, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-btn-search:hover, .icon-btn-search.btn-search_hover, .icon-btn-search.btn-search-hover { background-position: 0 -318px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-calendar { background-position: 0 -1281px; height: 24px; width: 23px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-chevron-right { background-position: 0 -1409px; height: 12px; width: 7px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dropdown { background-position: 0 -1335px; height: 7px; width: 11px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-exclam-point { background-position: 0 -713px; height: 21px; width: 21px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-help { background-position: 0 -1141px; height: 24px; width: 24px; }
/* line 43, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-help:hover, .icon-help.help_hover, .icon-help.help-hover { background-position: 0 -972px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home { background-position: 0 -764px; height: 20px; width: 24px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-budget { background-position: 0 -388px; height: 22px; width: 112px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-hotel-red { background-position: 0 -186px; height: 32px; width: 32px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-hotel { background-position: 0 -542px; height: 22px; width: 111px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-logos { background-position: 0 0; height: 56px; width: 187px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-style { background-position: 0 -490px; height: 22px; width: 114px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-itine { background-position: 0 -1073px; height: 38px; width: 32px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-like-box { background-position: 0 -440px; height: 20px; width: 108px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-map { background-position: 0 -654px; height: 29px; width: 28px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-phone { background-position: 0 -862px; height: 29px; width: 24px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-prix-garanti { background-position: 0 -86px; height: 70px; width: 62px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-re-reza { background-position: 0 -921px; height: 21px; width: 21px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-red-collapse { background-position: 0 -1451px; height: 5px; width: 7px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search-white { background-position: 0 -1195px; height: 17px; width: 17px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search { background-position: 0 -1026px; height: 17px; width: 17px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-separator { background-position: 0 -1486px; height: 33px; width: 1px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tic { background-position: 0 -1242px; height: 9px; width: 11px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-alphabet { background-position: 0 -814px; height: 18px; width: 19px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-to-right { background-position: 0 -1372px; height: 7px; width: 5px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-btn-close { background-position: 0 -594px; height: 30px; width: 115px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-btn-search { background-position: 0 -248px; height: 40px; width: 150px; }
/* line 43, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-btn-search:hover, .icon-btn-search.btn-search_hover, .icon-btn-search.btn-search-hover { background-position: 0 -318px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-calendar { background-position: 0 -1281px; height: 24px; width: 23px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-chevron-right { background-position: 0 -1409px; height: 12px; width: 7px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-dropdown { background-position: 0 -1335px; height: 7px; width: 11px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-exclam-point { background-position: 0 -713px; height: 21px; width: 21px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-help { background-position: 0 -1141px; height: 24px; width: 24px; }
/* line 43, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-help:hover, .icon-help.help_hover, .icon-help.help-hover { background-position: 0 -972px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home { background-position: 0 -764px; height: 20px; width: 24px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-budget { background-position: 0 -388px; height: 22px; width: 112px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-hotel-red { background-position: 0 -186px; height: 32px; width: 32px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-hotel { background-position: 0 -542px; height: 22px; width: 111px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-logos { background-position: 0 0; height: 56px; width: 187px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ibis-style { background-position: 0 -490px; height: 22px; width: 114px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-itine { background-position: 0 -1073px; height: 38px; width: 32px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-like-box { background-position: 0 -440px; height: 20px; width: 108px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-map { background-position: 0 -654px; height: 29px; width: 28px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-phone { background-position: 0 -862px; height: 29px; width: 24px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-prix-garanti { background-position: 0 -86px; height: 70px; width: 62px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-re-reza { background-position: 0 -921px; height: 21px; width: 21px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-red-collapse { background-position: 0 -1451px; height: 5px; width: 7px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search-white { background-position: 0 -1195px; height: 17px; width: 17px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search { background-position: 0 -1026px; height: 17px; width: 17px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-separator { background-position: 0 -1486px; height: 33px; width: 1px; }

/* line 60, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tic { background-position: 0 -1242px; height: 9px; width: 11px; }

/* line 25, ../sass/_theme.sass */
[class*="icon-"] { display: inline-block; }

/* line 29, ../sass/_theme.sass */
.icon-help, .logo-inline, .icon-ibis-hotel, .icon-ibis-style, .icon-ibis-budget, .icon-calendar, .complementary .icon-chevron-right { position: relative; top: 6px; }

/* HEADER  */
/* line 49, ../sass/_theme.sass */
.top-header { *zoom: 1; font-size: 13px; height: 43px; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.top-header:after { content: ""; display: table; clear: both; }
/* line 53, ../sass/_theme.sass */
.top-header a { color: #595249; }
/* line 56, ../sass/_theme.sass */
.top-header .dropdown { margin-left: 1em; margin-right: 0.625em; }

/* line 61, ../sass/_theme.sass */
.language, .connect-help { line-height: 43px; }

/* line 65, ../sass/_theme.sass */
.language { float: left; }
/* line 67, ../sass/_theme.sass */
.language .icon-dropdown { margin-left: 1em; margin-right: 0.625em; }

/* line 71, ../sass/_theme.sass */
.connect-help { float: right; }
/* line 73, ../sass/_theme.sass */
.connect-help a { margin-left: 1.25em; }

/* line 79, ../sass/_theme.sass */
.welcome { background: url('../img/gradient-top-header.png?1381119412') repeat-x; color: #f4f4f4; display: table; width: 100%; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

/* line 86, ../sass/_theme.sass */
.btn-mes-resa { background: url('../img/btn-mes-resa-BG.png?1381119412') repeat-x; padding: 7px 10px 10px; color: white; text-shadow: 1px 1px 1px black; }

/* line 92, ../sass/_theme.sass */
h1 { font-family: Myriad Pro; font-size: 1.41438em; margin: 0; display: table-cell; line-height: 65px; }

/* line 99, ../sass/_theme.sass */
.icon-ibis-hotel { margin-left: 132px; margin-right: 45px; }

/* line 103, ../sass/_theme.sass */
.icon-ibis-style { margin-right: 37px; }

/* SECTION MINI-SEARCH  */
/* line 116, ../sass/_theme.sass */
.mini-search { font-size: 12px; color: #79746d; font-weight: bold; height: 66px; display: table; width: 100%; }
/* line 124, ../sass/_theme.sass */
.mini-search h2 { font-family: "Myriad Pro"; font-weight: 500; font-size: 22px; display: table-cell; vertical-align: middle; }
/* line 131, ../sass/_theme.sass */
.mini-search form { display: table-cell; vertical-align: middle; }
/* line 137, ../sass/_theme.sass */
.mini-search label { margin-left: 14px; }
/* line 139, ../sass/_theme.sass */
.mini-search input { width: 70px; height: 30px; margin-left: 12px; margin-right: 10px; }

/* line 145, ../sass/_theme.sass */
#destination { width: 144px; padding-left: 6px; }

/* SECTION SEARCH-DETAIL  */
/* line 159, ../sass/_theme.sass */
.search-detail { display: none; padding: 20px 0; background: white; *zoom: 1; z-index: 300; width: 920px; position: absolute; top: 160px; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.search-detail:after { content: ""; display: table; clear: both; }

/* line 171, ../sass/_theme.sass */
.form-detail { width: 65.95745%; float: left; margin-right: 2.12766%; display: inline; font-size: 12px; font-weight: bold; }

/* line 177, ../sass/_theme.sass */
.select-btn { margin-left: 1em; margin-right: 30px; width: 48px; height: 32px; font-size: 1.2em; }

/* line 184, ../sass/_theme.sass */
.styled-input-text { margin: 26px 10px; width: 195px; height: 30px; }

/* line 189, ../sass/_theme.sass */
.text-style-normal { font-weight: normal; }

/* line 192, ../sass/_theme.sass */
.services-checkbox { *zoom: 1; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.services-checkbox:after { content: ""; display: table; clear: both; }

/* line 195, ../sass/_theme.sass */
.label-input-paired { float: left; width: 160px; }
/* line 198, ../sass/_theme.sass */
.label-input-paired label { margin-left: 10px; margin-right: 20px; }

/* line 204, ../sass/_theme.sass */
.icon-btn-search { border: none; text-indent: -19000px; float: right; position: relative; top: -10px; }

/* line 212, ../sass/_theme.sass */
#detail-search { margin: 0; padding: 0; overflow: hidden; margin-bottom: 20px; }

/* line 218, ../sass/_theme.sass */
aside { width: 31.91489%; float: right; margin-right: 0; *margin-left: -1.25em; display: inline; border-left: 1px solid #dedede; }

/* line 223, ../sass/_theme.sass */
.complementary { font-size: 13px; *zoom: 1; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.complementary:after { content: ""; display: table; clear: both; }
/* line 227, ../sass/_theme.sass */
.complementary ul { list-style: none; padding: 0; margin: 0; }
/* line 232, ../sass/_theme.sass */
.complementary li { padding-top: 8px; padding-bottom: 8px; border-bottom: 1px solid #dedede; *zoom: 1; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.complementary li:after { content: ""; display: table; clear: both; }
/* line 238, ../sass/_theme.sass */
.complementary .pull-left { width: 40px; }
/* line 241, ../sass/_theme.sass */
.complementary .last-child-item { border: none; font-weight: bold; line-height: 20px; font-size: 15px; }
/* line 247, ../sass/_theme.sass */
.complementary .last-child-item .pull-left { height: 60px; position: relative; top: 16px; }

/* line 254, ../sass/_theme.sass */
.phone-number { font-size: 30px; }

/* line 257, ../sass/_theme.sass */
.phone-price { font-size: 11px; }

/* line 261, ../sass/_theme.sass */
.icon-btn-close { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; float: right; }

/* SECTION HERO-JUMBO  */
/* line 275, ../sass/_theme.sass */
.Hero-Jumbo { background: url('../img/hero-Jumbo-BG.jpg?1381119412') no-repeat; height: 346px; margin-top: 20px; margin-bottom: 24px; color: #4f5051; position: relative; border: 1px solid #e9e9e9; }
/* line 284, ../sass/_theme.sass */
.Hero-Jumbo a { color: #4f5051; }
/* line 287, ../sass/_theme.sass */
.Hero-Jumbo h2 { font-family: "Myriad Pro"; margin: 0; }

/* line 291, ../sass/_theme.sass */
.esprit-ibis { margin-left: 475px; padding-top: 66px; *zoom: 1; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.esprit-ibis:after { content: ""; display: table; clear: both; }
/* line 296, ../sass/_theme.sass */
.esprit-ibis h2 { font-size: 40px; line-height: 40px; margin-bottom: 23px; }
/* line 300, ../sass/_theme.sass */
.esprit-ibis video { float: left; }

/* line 303, ../sass/_theme.sass */
.link-video { float: left; margin-left: 20px; width: 110px; font-size: 13px; }

/* line 309, ../sass/_theme.sass */
.decouv-esprit-ibis { height: 73px; background: url('../img/decouv-esprit-ibis-BG.png?1381119412') repeat-x; position: absolute; left: 0; bottom: 0; }
/* line 317, ../sass/_theme.sass */
.decouv-esprit-ibis .inner { display: table; height: 100%; }
/* line 321, ../sass/_theme.sass */
.decouv-esprit-ibis .inner h2 { display: table-cell; width: 290px; font-size: 28px; font-weight: 500; vertical-align: middle; }
/* line 328, ../sass/_theme.sass */
.decouv-esprit-ibis .inner .icon-separator { display: table-cell; position: relative; top: 20px; left: -20px; }
/* line 334, ../sass/_theme.sass */
.decouv-esprit-ibis .inner p { display: table-cell; font-weight: bold; font-size: 18px; width: 355px; vertical-align: middle; }
/* line 341, ../sass/_theme.sass */
.decouv-esprit-ibis .inner .icon-ibis-logos { display: table-cell; vertical-align: middle; position: relative; width: 233px; top: 8px; left: 30px; }

/* SECTION PUSH  */
/* line 361, ../sass/_theme.sass */
.icon-chevron-right { margin-left: 8px; }

/* line 364, ../sass/_theme.sass */
.push { *zoom: 1; font-size: 13px; color: #494a4d; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.push:after { content: ""; display: table; clear: both; }
/* line 368, ../sass/_theme.sass */
.push a { color: #494a4d; font-weight: bold; }
/* line 372, ../sass/_theme.sass */
.push figure { margin-top: 1.4375em; }
/* line 375, ../sass/_theme.sass */
.push figure img { float: left; }
/* line 378, ../sass/_theme.sass */
.push figcaption { line-height: 1.21875em; margin-left: 130px; }
/* line 382, ../sass/_theme.sass */
.push figcaption p { margin-bottom: 4px; }
/* line 385, ../sass/_theme.sass */
.push .inner { height: 8.875em; }
/* line 390, ../sass/_theme.sass */
.push h2 { font-size: 15px; margin: 0; }
/* line 394, ../sass/_theme.sass */
.push header { background-color: #f2f1ef; height: 65px; border-bottom: 1px solid #dedede; padding-top: 8px; }
/* line 400, ../sass/_theme.sass */
.push header a { color: #878179; }

/* line 403, ../sass/_theme.sass */
.promotions { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
/* line 406, ../sass/_theme.sass */
.promotions ul { list-style: none; padding: 0; margin: 0; }
/* line 411, ../sass/_theme.sass */
.promotions figure { position: relative; }
/* line 414, ../sass/_theme.sass */
.promotions figcaption { margin-left: 120px; *zoom: 1; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.promotions figcaption:after { content: ""; display: table; clear: both; }
/* line 418, ../sass/_theme.sass */
.promotions figcaption p { font-size: 11px; margin-bottom: 0; }
/* line 422, ../sass/_theme.sass */
.promotions .hotel-name { font-size: 12px; font-weight: bold; }
/* line 426, ../sass/_theme.sass */
.promotions .icon-ibis-hotel-red { position: absolute; top: -12px; left: -10px; }
/* line 431, ../sass/_theme.sass */
.promotions .price { font-weight: bold; font-size: 25px; float: right; position: relative; left: 10px; top: -4px; }
/* line 439, ../sass/_theme.sass */
.promotions .btn-resa { display: block; color: white; background: url('../img/btn-gradient-red.jpg?1381119412') no-repeat; padding-top: 7px; padding-bottom: 7px; padding-left: 7px; margin-top: 2.5px; }
/* line 448, ../sass/_theme.sass */
.promotions .btn-resa .icon-tic { margin-right: 20px; }

/* line 451, ../sass/_theme.sass */
.red { color: #ea201e; }

/* line 457, ../sass/_theme.sass */
.services { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
/* line 460, ../sass/_theme.sass */
.services figcaption { margin-left: 114px; }

/* line 465, ../sass/_theme.sass */
.fidelity-A-club { width: 31.91489%; float: right; margin-right: 0; *margin-left: -1.25em; display: inline; position: relative; }
/* line 469, ../sass/_theme.sass */
.fidelity-A-club header { display: table; padding-top: 0; }
/* line 473, ../sass/_theme.sass */
.fidelity-A-club header h2 { display: table-cell; width: 60%; vertical-align: middle; }

/* line 480, ../sass/_theme.sass */
.label-A-club { background: url('../img/a-club-label.png?1381119412'); width: 78px; height: 78px; display: block; position: absolute; top: -1px; right: -1px; }

/* FOOTER  */
/* line 500, ../sass/_theme.sass */
footer { font-size: 11px; color: #5b5c5e; }
/* line 503, ../sass/_theme.sass */
footer a { color: #5b5c5e; }
/* line 506, ../sass/_theme.sass */
footer h1 { font-size: 40px; display: inline; }
/* line 510, ../sass/_theme.sass */
footer ul { list-style: none; margin: 0; padding: 0; }

/* line 515, ../sass/_theme.sass */
.icon-like-box { margin-left: 1em; }

/* line 518, ../sass/_theme.sass */
.rebond-part-one { *zoom: 1; padding-left: 1.25em; padding-right: 1.25em; margin-left: auto; margin-right: auto; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; }
/* line 38, ../../../.rvm/rubies/ruby-1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.rebond-part-one:after { content: ""; display: table; clear: both; }
/* line 525, ../sass/_theme.sass */
.rebond-part-one .list-inline { clear: both; }
/* line 527, ../sass/_theme.sass */
.rebond-part-one .list-inline li { margin-top: 2.25em; margin-bottom: 1.25em; border-right: 1px solid #dedede; }
/* line 531, ../sass/_theme.sass */
.rebond-part-one .list-inline li:last-child { border-right: none; }
/* line 534, ../sass/_theme.sass */
.rebond-part-one h3 { font-size: 12px; }

/* line 538, ../sass/_theme.sass */
.list-inline li { display: inline-block; padding-left: 20px; padding-right: 20px; }

/* line 544, ../sass/_theme.sass */
.icon-prix-garanti { float: left; margin-top: 20px; }

/* line 549, ../sass/_theme.sass */
.a-propos { width: 31.91489%; float: left; margin-right: 2.12766%; display: inline; }
/* line 552, ../sass/_theme.sass */
.a-propos h3, .a-propos .list-link { margin-left: 75px; }

/* line 556, ../sass/_theme.sass */
.offre-spe { width: 14.89362%; float: left; margin-right: 2.12766%; display: inline; }

/* line 560, ../sass/_theme.sass */
.professionnels { margin-left: 8.51064%; width: 23.40426%; float: left; margin-right: 2.12766%; display: inline; }

/* line 565, ../sass/_theme.sass */
.developpement { width: 14.89362%; float: right; margin-right: 0; *margin-left: -1.25em; display: inline; }

/* line 571, ../sass/_theme.sass */
.rebond-part-two a { text-decoration: underline; }
/* line 573, ../sass/_theme.sass */
.rebond-part-two p:first-child { line-height: 1.03125em; }
/* line 576, ../sass/_theme.sass */
.rebond-part-two h4 { margin-bottom: 0; }

/* line 580, ../sass/_theme.sass */
.ibis { padding-bottom: 34px; margin: 20px 0; }

/* line 584, ../sass/_theme.sass */
.accor-hotels { font-size: 10px; margin: 20px 0; }
/* line 589, ../sass/_theme.sass */
.accor-hotels .list-inline li { padding-left: 2px; padding-right: 6px; }
/* line 593, ../sass/_theme.sass */
.accor-hotels .list-inline li:last-child { padding: 0; }

/* line 598, ../sass/_theme.sass */
.box { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; border: 1px solid #e9e9e9; -webkit-box-shadow: 0 1px 1px #c3c3c3; -moz-box-shadow: 0 1px 1px #c3c3c3; box-shadow: 0 1px 1px #c3c3c3; background: white; }

/* lt IE 9 */
/* line 611, ../sass/_theme.sass */
.browsehappy { text-align: center; font-size: 1.6em; background-color: #ea201e; padding: 1em 0; color: white; }
/* line 618, ../sass/_theme.sass */
.browsehappy a { color: white; font-weight: bold; text-decoration: underline; }
