


body
  font-size: 100%
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 400
  line-height: 1.5em
  color: $grey
  background: image-url('body-BG.jpg') repeat-x
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased





a
  text-decoration: none
  color: $grey


label
  cursor: pointer



hr
  border: 0
  height: 0
  border-bottom: 1px solid #dedede
