
*
  +box-sizing(border-box)


// CSS image replacement
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
=hide-text()
  font: #{0/0} a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0


@function emCalc($pxWidth)
  @return $pxWidth / $em-base * 1em


.pull-right
  float: right

.pull-left
  float: left