


.wrapper
  width: 960px
  margin: 0 auto
  +container
  // +susy-grid-background
  position: relative

.top-header,
.welcome,
.push header,
.inner
  padding-right: emCalc(20px)
  padding-left: emCalc(20px)


$icon-spacing: 30px
$icon-sprite-dimensions: true
@import  "icon/*.png"
@include all-icon-sprites(true)
+all-icon-sprites

[class*="icon-"]
  display: inline-block


.icon-help,
.logo-inline,
.icon-ibis-hotel,
.icon-ibis-style,
.icon-ibis-budget,
.icon-calendar,
.complementary .icon-chevron-right
  position: relative
  top: 6px





/*
  *
  * HEADER
  *
  */

.top-header
  +pie-clearfix
  font-size: 13px
  height: 43px
  a
    color: $top-header-text-color

  .dropdown
    margin-left: 1em
    margin-right: emCalc(10px)


.language,
.connect-help
  line-height: 43px

.language
  float: left
  .icon-dropdown
    margin-left: 1em
    margin-right: emCalc(10px)

.connect-help
  float: right
  a
    margin-left: emCalc(20px)




.welcome
  background: image-url('gradient-top-header.png') repeat-x
  color: $nearlyWhite
  display: table
  width: 100%
  +border-radius

.btn-mes-resa
  background: image-url("btn-mes-resa-BG.png") repeat-x
  padding: 7px 10px 10px
  color: white
  +text-shadow(1px 1px 1px black)

h1
  font-family: Myriad Pro
  font-size: emCalc(22.63px)
  margin: 0
  display: table-cell
  line-height: 65px

.icon-ibis-hotel
  margin-left: 132px
  margin-right: 45px

.icon-ibis-style
  margin-right: 37px




/*
  *
  * SECTION MINI-SEARCH
  *
  */


.mini-search
  font-size: 12px
  color: $search-min-text-color
  font-weight: bold
  height: 66px
  display: table
  width: 100%

  h2
    font-family: "Myriad Pro"
    font-weight: 500
    font-size: 22px
    display: table-cell
    vertical-align: middle

  form
    display: table-cell
    vertical-align: middle



  label
    margin-left: 14px
  input
    width: 70px
    height: 30px
    margin-left: 12px
    margin-right: 10px

#destination
  width: 144px
  padding-left: 6px




/*
  *
  * SECTION SEARCH-DETAIL
  *
  */


.search-detail
  display: none
  padding: 20px 0
  background: white
  +pie-clearfix
  z-index: 300
  width: 920px
  position: absolute
  top: 160px
  // +container


.form-detail
  +span-columns( 8, 12)
  font-size: 12px
  font-weight: bold


.select-btn
  margin-left: 1em
  margin-right: 30px
  width: 48px
  height: 32px
  font-size: 1.2em

.styled-input-text
  margin: 26px 10px
  width: 195px
  height: 30px

.text-style-normal
  font-weight: normal

.services-checkbox
  +pie-clearfix

.label-input-paired
  float: left
  width: 160px
  label
    margin-left: 10px
    margin-right: 20px



.icon-btn-search
  border: none
  text-indent: -19000px
  float: right
  position: relative
  top: -10px


#detail-search
  margin: 0
  padding: 0
  overflow: hidden
  margin-bottom: 20px

aside
  +span-columns(4 omega, 12)
  border-left: 1px solid #dedede


.complementary
  font-size: 13px
  +pie-clearfix

  ul
    list-style: none
    padding: 0
    margin: 0

  li
    padding-top: 8px
    padding-bottom: 8px
    border-bottom: 1px solid #dedede
    +pie-clearfix

  .pull-left
    width: 40px

  .last-child-item
    border: none
    font-weight: bold
    line-height: 20px
    font-size: 15px

    .pull-left
      height: 60px
      position: relative
      top: 16px



.phone-number
  font-size: 30px

.phone-price
  font-size: 11px


.icon-btn-close
  +hide-text
  float: right





/*
  *
  * SECTION HERO-JUMBO
  *
  */

.Hero-Jumbo
  background: image-url("hero-Jumbo-BG.jpg") no-repeat
  height: 346px
  margin-top: 20px
  margin-bottom: 24px
  color: $hero-text-color
  position: relative
  border: 1px solid $border-box-color

  a
    color: $hero-text-color

  h2
    font-family: "Myriad Pro"
    margin: 0

.esprit-ibis
  margin-left: 475px
  padding-top: 66px
  +pie-clearfix

  h2
    font-size: 40px
    line-height: 40px
    margin-bottom: 23px
  video
    float: left

.link-video
  float: left
  margin-left: 20px
  width: 110px
  font-size: 13px

.decouv-esprit-ibis
  height: 73px
  background: image-url("decouv-esprit-ibis-BG.png") repeat-x
  // background: rgba(red, .6)
  position: absolute
  left: 0
  bottom: 0

  .inner
    display: table
    height: 100%

    h2
      display: table-cell
      width: 290px
      font-size: 28px
      font-weight: 500
      vertical-align: middle

    .icon-separator
      display: table-cell
      position: relative
      top: 20px
      left: -20px

    p
      display: table-cell
      font-weight: bold
      font-size: 18px
      width: 355px
      vertical-align: middle

    .icon-ibis-logos
      display: table-cell
      vertical-align: middle
      position: relative
      width: 233px
      top: 8px
      left: 30px






/*
  *
  * SECTION PUSH
  *
  */


.icon-chevron-right
  margin-left: 8px

.push
  +pie-clearfix
  font-size: 13px
  color: $pushColorText
  a
    color: $pushColorText
    font-weight: bold

  figure
    margin-top: emCalc(23px)

    img
      float: left

  figcaption
    line-height: emCalc(19.5px)
    margin-left: 130px

    p
      margin-bottom: 4px

  .inner
    height: emCalc(142px)



  h2
    font-size: 15px
    margin: 0

  header
    background-color: $pushHeader
    height: 65px
    border-bottom: 1px solid #dedede
    padding-top: 8px

    a
      color: $pushHeader-link

.promotions
  +span-columns(4,12)

  ul
    list-style: none
    padding: 0
    margin: 0

  figure
    position: relative

  figcaption
    margin-left: 120px
    +pie-clearfix

    p
      font-size: 11px
      margin-bottom: 0

  .hotel-name
    font-size: 12px
    font-weight: bold

  .icon-ibis-hotel-red
    position: absolute
    top: -12px
    left: -10px

  .price
    font-weight: bold
    font-size: 25px
    float: right
    position: relative
    left: 10px
    top: -4px

  .btn-resa
    display: block
    color: white
    background: image-url('btn-gradient-red.jpg') no-repeat
    padding-top: 7px
    padding-bottom: 7px
    padding-left: 7px
    margin-top: 2.5px

    .icon-tic
      margin-right: 20px

.red
  color: $red




.services
  +span-columns(4,12)

  figcaption
    margin-left: 114px



.fidelity-A-club
  +span-columns(4 omega, 12)
  position: relative

  header
    display: table
    padding-top: 0

    h2
      display: table-cell
      width: 60%
      vertical-align: middle



.label-A-club
  background: image-url("a-club-label.png")
  width: 78px
  height: 78px
  display: block
  position: absolute
  top:  -1px
  right: -1px





/*
  *
  * FOOTER
  *
  */


footer
  font-size: 11px
  color: $footer-text
  a
    color: $footer-text

  h1
    font-size: 40px
    display: inline

  ul
    list-style: none
    margin: 0
    padding: 0

.icon-like-box
  margin-left: 1em

.rebond-part-one
  +container
  // +susy-grid-background
  border-top: 1px solid #dedede
  border-bottom: 1px solid #dedede
  // +pie-clearfix

  .list-inline
    clear: both
    li
      margin-top: emCalc(36px)
      margin-bottom: emCalc(20px)
      border-right: 1px solid #dedede
      &:last-child
        border-right: none

  h3
    font-size: 12px

.list-inline
  li
    display: inline-block
    padding-left: 20px
    padding-right: 20px


.icon-prix-garanti
  float: left
  margin-top: 20px


.a-propos
  +span-columns(4,12)

  h3,
  .list-link
    margin-left: 75px

.offre-spe
  +span-columns(2,12)


.professionnels
  +pre(1)
  +span-columns(3,12)


.developpement
  +span-columns(2 omega,12)



.rebond-part-two
  a
    text-decoration: underline
  p:first-child
    line-height: emCalc(16.5px)

  h4
    margin-bottom: 0


.ibis
  padding-bottom: 34px
  margin: 20px 0

.accor-hotels
  font-size: 10px
  margin: 20px 0

  .list-inline
    li
      padding-left: 2px
      padding-right: 6px

      &:last-child
        padding: 0



.box
  +border-radius
  border: 1px solid $border-box-color
  +box-shadow(0 1px 1px darken($border-box-color, 15%))
  background: white






/* lt IE 9 */

.browsehappy
  text-align: center
  font-size: 1.6em
  background-color: $red
  padding: 1em 0
  color: white

  a
    color: white
    font-weight: bold
    text-decoration: underline















